* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 100%;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.header__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
}

.header__content a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: auto;
}