/* =====================
   DESKTOP XL — min-width: 1281px
   ===================== */

@media (min-width: 1281px) {
    /* =====================
   ERROR PAGE
   ===================== */

    .error-page {
        align-items: center;
        display: flex;
        justify-content: center;
        min-height: 100dvh;
        padding-bottom: 31.5vh;
    }

    .error-page__container {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 1.6rem;
        padding: 4rem 2rem;
        text-align: center;
    }

    .error-page__code {
        display: flex;
        font-size: 12.8rem;
        font-weight: 800;
        gap: 0.4rem;
        line-height: 1;
        user-select: none;
    }

    .error-page__digit {
        cursor: pointer;
        display: inline-block;
        transition: color 0.3s ease, transform 0.3s ease-in-out;
    }

    .error-page__digit:hover {
        transform: scale(1.1) rotate(-10deg);
    }

    .error-page__digit:nth-child(1) {
        color: #2d2f32;
    }

    .error-page__digit:nth-child(2) {
        color: #2d2f32;
    }

    .error-page__digit:nth-child(3) {
        color: #2d2f32;
    }

    .error-page__title {
        color: var(--text-primary-dark);
        font-size: 2.4rem;
        font-weight: 700;
        margin-top: 1rem;
    }

    .error-page__description {
        color: var(--text-muted-dark);
        font-size: var(--font-size-lg);
        max-width: 38rem;
    }

    .error-page__actions {
        display: flex;
        gap: 1.2rem;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 0.8rem;
    }

    .error-page__button {
        align-items: center;
        border-radius: var(--radius-lg);
        display: flex;
        font-size: var(--font-size-md);
        font-weight: 600;
        gap: 0.8rem;
        margin-top: 1rem;
        padding: 1rem 2rem;
        text-decoration: none;
        background-color: #155dfc;
        color: #ffffff;
        transition: background-color 0.2s ease;
    }

    .error-page__button:hover {
        background-color: #1447e6;
        transition: background-color 0.2s ease;
    }

    .hashnode__link {
        margin-top: 3.5rem;
        height: 100%;
        width: 100%;
    }

    .hashnode__link a {
        align-items: center;
        color: #414549;
        display: flex;
        font-weight: 600;
        gap: 0.8rem;
        justify-content: center;
        text-decoration: none;
        transition: color 0.2s;
    }

    .hashnode__link a:hover {
        color: var(--text-muted-dark);
        transition: color 0.2s;
    }

    .hashnode__link i {
        font-size: 2.5rem;
    }

    .hashnode__link span {
        font-size: 2.5rem;
        font-weight: 700;
    }


    .error-page__logo {
        height: 2.4rem;
    }
}